@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Fira Code", monospace;
}

@layer base {
  :root {
    --border: 240 5.9% 90%;
    --skills_gradient_bg: linear-gradient(261deg, #15232d 5.73%, rgba(18, 39, 56, .98) 93.52%);
    --skills_stroke: #007acc;
    --skills_text_color: #99dbf0;
    --skills_gradient: linear-gradient(277deg, #2454fe 1.72%, #34cf8e 98.88%);
    --Title-Gradient: linear-gradient(90deg, #239982 -1.88%, #6d64d3 104.56%);
    --primary_light_icon: #252f45;
    --white: #fff;
  }

  .dark {
    --border: 240 3.7% 15.9%;
  }
}

/* Skills */
.skill_skill__oFitQ {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  text-align: start;
  padding: 6px 15px;
  border: 2px solid var(--primary_light_icon);
  background: var(--skills_gradient_bg);
  color: var(--skills_text_color, #56b6d4);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 5px;
  outline: 2px solid var(--skills_stroke);
  outline-offset: 0;
  letter-spacing: 1.2px
}

.skill_skill__oFitQ:hover {
  background: var(--Title-Gradient);
  color: var(--white)
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}